<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.clearlyinventory"
        version   = "1.1.1">

  <name>Clearly Inventory</name>

  <description>
    Welcome to Clearly Inventory, an easy online inventory management software
  </description>

  <author href="http://www.clearlyinventory.com/" email="support@clearlyinventory.com">
    SHIVAM ITCS Team
  </author>

  <!--<gap:plugin name="com.phonegap.plugins.barcodescanner"/>
  -->
  <!--gap:plugin name="org.apache.cordova.statusbar" spec="0.1.4" source="pgb" /-->
  <!--
  <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
  <gap:plugin name="org.apache.cordova.camera" />
  <gap:plugin name="org.apache.cordova.file" />
  <gap:plugin name="org.apache.cordova.file-transfer" />
  <gap:plugin name="org.apache.cordova.network-information" />
  <gap:plugin name="de.phonostar.softkeyboard-custom" spec="0.1.1" source="pgb" />
  <gap:plugin name="org.apache.cordova.geolocation"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.vibration"/>
  <gap:plugin name="ionic-plugin-keyboard"  source="npm" version="1.0.7" />
  <gap:plugin name="org.apache.cordova.splashscreen" />

  <gap:plugin name="net.bgta.phonegap.plugin.appversion" source="pgb"/>
  <plugin name="org.apache.cordova.network-information" source="npm"/>
  <plugin name="org.apache.cordova.splashscreen" source="npm"/>
  -->


  <plugin name="com-socketmobile-scanapi-cordova" source="npm" />
 
  
  <!--<feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/file" />-->

  <feature name="http://api.phonegap.com/1.0/device" />

  <feature name="debug-server" required="true">
    <param name="domain" value="http://debug.phonegap.com"/>
    <param name="key" value="willoughby"/>
  </feature>

 
  <preference name="android-targetSdkVersion" value="26" /> 
  
  <icon src="icon.png" />

  
 <access origin="*"/>

</widget>
